<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515846252773-rb35j5gat80v68qlo735jdo3kc16359p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515846252773-rb35j5gat80v68qlo735jdo3kc16359p</string>
	<key>API_KEY</key>
	<string>AIzaSyB7r8TAtQCGBlxFvZtCYhKsUiiqNH9auKg</string>
	<key>GCM_SENDER_ID</key>
	<string>515846252773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>INFO-6350.MIC</string>
	<key>PROJECT_ID</key>
	<string>mic-ios-1</string>
	<key>STORAGE_BUCKET</key>
	<string>mic-ios-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515846252773:ios:ba3e409d1c686b33980c0c</string>
</dict>
</plist>